# Ignore other files, e.g temprory files from IDEs or OS
.buildpath
.DS_Store*
.idea
.project
.sass-cache
.svn
*.esproj
*.komodoproject
*.komodotools
ehthumbs.db
nbproject
Thumbs.db

node_modules

/config.json

# Remove composer vendors: they should be installed via composer and not checked
# in to the repo, see README
/vendor
